---
import { frontmatter, Content } from "@content/settings/about.md";
---

<div class="page">
    <div class="pageHeading">
        <div>(M)</div>
        <div>(V)</div>
        <div>{new Date().getFullYear()}</div>
    </div>
    <div class="pageTitle">{frontmatter.title}</div>
    <div class="content">
        <Content />
    </div>
</div>
