---
import { frontmatter, Content } from "@content/about/about.md";
---

<div class="page">
    <div class="pageHeading">
        <div>(M)</div>
        <div>(V)</div>
        <div>2023</div>
    </div>
    <div class="pageTitle">{frontmatter.title}</div>
    <div class="content">
        <Content />
    </div>
</div>
