<div class="page">
    <div class="pageHeading">
        <div>(M)</div>
        <div>(V)</div>
        <div>2023</div>
    </div>
    <div class="pageTitle">Blog</div>
    <div class="content">
        <p>WORK IN PROJECT</p>
    </div>
</div>
