<div class="page">
    <div class="pageHeading">
        <div>(M)</div>
        <div>(V)</div>
        <div>{new Date().getFullYear()}</div>
    </div>
    <div class="pageTitle">Blog</div>
    <div class="content">
        <p>WIP</p>
    </div>
</div>
