---
import Menu from "./Menu.astro";
---

<div class="panel left is-home">
    <div>
        <a href="/" data-swup-animation="home">
            <h1>Michele Volonghi</h1>
        </a>
        <h2 class="subhero">
            Independent creative developer<br /> & designer focusing on:<br
            /><br /> 3D<br /> Shaders<br />Interaction<br />Smooth animations<br
            /><br />Currently based in Brescia (IT)<br />Working remotely
            worldwide.
        </h2>
    </div>
    <h3 class="subhero right">
        Specialized in<br /><i>blazingly</i> fast websites<br /> with <i
            >crazy</i
        > designs<br /><br /> that clients can easily<br /> manage themselves.
    </h3>
    <div class="menu-wrapper">
        <Menu />
    </div>
</div>
<style lang="scss">
    .panel {
        justify-content: space-between;
        align-items: flex-start;
        padding: var(--padding);
        min-height: 0;
        transition: min-height 0.8s;
        &.is-home {
            min-height: 100vh;
            min-height: 100svh;
        }

        h1 {
            font-size: clamp(1rem, 8vw, 2rem);
        }
        .subhero {
            padding: 1rem 0;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            i {
                font-style: normal;
                font-variation-settings:
                    "wdth" 92,
                    "wght" 600,
                    "slnt" -12;
            }
            &.right {
                align-self: flex-end;
            }
        }
    }
</style>
