---
import Menu from "./Menu.astro";
import { frontmatter, Content } from "@content/settings/home.md";
const { isHome } = Astro.props;

const p1 = `Independent creative developer
& designer focusing on:

3D
Shaders
Interaction
Smooth animations

Currently based in Brescia (IT)
Working remotely worldwide.`;

const p2 = `Specialized in
<i>blazingly</i> fast websites
with <i>crazy</i> designs

that clients can easly
manage themselves.`;
---

<script>
    import { navigate } from "astro:transitions/client";
    document.querySelector<HTMLElement>(".panel.left").onclick = (e: any) => {
        const t = e.target?.classList;
        if (t?.contains("panel") && t?.contains("left")) {
            if (
                location.pathname !== "/" &&
                !document.documentElement.classList.contains("transition")
            ) {
                navigate("/");
            }
        }
    };
</script>
<div class="panel left" class:list={{ open: isHome }} transition:persist>
    <div>
        <a href="/">
            <h1>{frontmatter.title}</h1>
        </a>
        <h2 class="subhero" set:html={p1} />
    </div>
    <h3 class="subhero right" set:html={p2} />
    <div class="menu-wrapper">
        <Menu />
    </div>
</div>
<style lang="scss">
    .panel {
        justify-content: space-between;
        align-items: flex-start;
        padding: var(--padding);
        min-height: 0;
        transition: min-height 0.8s;
        &.open {
            min-height: 100vh;
            min-height: 100svh;
        }

        h1 {
            font-size: clamp(1rem, 8vw, 2rem);
        }
        .subhero {
            padding: 1rem 0;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            pointer-events: none;
            white-space: pre-line;
            :global(i) {
                font-style: normal;
                font-variation-settings:
                    "wdth" 92,
                    "wght" 600,
                    "slnt" -12;
            }
            &.right {
                align-self: flex-end;
            }
        }
    }
</style>
