---
import Menu from "./Menu.astro";
import { getEntry } from "astro:content";

const { page } = Astro.props;
const settings = await getEntry("settings", "settings");
---

<div
    class="panel left"
    class:list={{ open: page === "index" }}
    transition:persist
>
    <div>
        <a href="/">
            <h1>{settings.data.title}</h1>
        </a>
        <h2 class="subhero" set:html={settings.data.hero} />
    </div>
    <h3 class="subhero right" set:html={settings.data.description} />
    <div class="menu-wrapper">
        <Menu />
    </div>
</div>

<style lang="scss">
    .panel {
        justify-content: space-between;
        align-items: flex-start;
        padding: var(--padding);
        min-height: 0;
        transition: min-height 0.8s;
        &.open {
            min-height: 100vh;
            min-height: 100svh;
        }

        h1 {
            font-size: clamp(1rem, 8vw, 2rem);
        }
        .subhero {
            padding: 1rem 0;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            pointer-events: none;
            white-space: pre-line;
            :global(i) {
                font-style: normal;
                font-variation-settings:
                    "wdth" 92,
                    "wght" 600,
                    "slnt" -12;
            }
            &.right {
                align-self: flex-end;
            }
        }
    }
</style>
