---
import Contacts from "./Contacts.astro";
const menu = [
    { name: "Projects", href: "/projects/" },
    // { name: "Blog", href: "/blog/" },
    // { name: "About", href: "/about/" },
    { name: "Contacts", href: "", id: "contact-button" },
];
---

<script>
    const contactButton =
        document.querySelector<HTMLElement>("#contact-button");
    const contact = document.querySelector("#contact");
    contactButton.onclick = (e) => {
        e.preventDefault();
        contact.classList.toggle("open");
    };
</script>
<nav data-swup-preload-all>
    {
        menu.map((m) => (
            <a href={m.href} id={m.id}>
                {m.name}
            </a>
        ))
    }
    <Contacts />
</nav>
<style lang="scss">
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: bold;
        a {
            font-size: clamp(2rem, 10vw, 4rem);
            transition: text-shadow 0.4s;
            &:hover {
                text-shadow: 0 0 10px var(--bg3);
            }
        }
        @media (max-width: 64rem) {
            padding: var(--padding) 0;
        }
    }
</style>
