---
import { getImage } from "astro:assets";
import bgImage from "@assets/bg.png";
const bg = await getImage({ src: bgImage });
const { isHome } = Astro.props;
---

<div class="panel right transition-right" class:list={{ "is-home": isHome }}>
    <div class="container">
        <slot />
    </div>
</div>
<style lang="scss" define:vars={{ bg: `url('${bg.src}')` }}>
    .panel {
        overflow-y: auto;
        // color: black;
        @media (max-width: 64rem) {
            overflow-y: visible;
        }
        &.is-home {
            flex: 0;
        }
        .container {
            width: calc(75vw - (var(--padding)));
            max-width: none;
            flex-basis: 100%;
            background-color: var(--bg3);
            background-image: var(--bg);
            background-size: 100px;
            @media (max-width: 64rem) {
                width: 100%;
            }
        }
    }
</style>
