---
import { getImage } from "astro:assets";
import bgImage from "@assets/bg.png";
const bg = await getImage({ src: bgImage });
const { isHome } = Astro.props;
---

<div
    class="panel right transition-right"
    class:list={{ "is-home": isHome }}
    style={`background: var(--bg3) url('${bg.src}')`}
>
    <div class="container">
        <slot />
    </div>
</div>
<style lang="scss">
    .panel {
        overflow-y: auto;

        @media (max-width: 64rem) {
            overflow-y: visible;
        }
        &.is-home {
            flex: 0;
        }
        .container {
            width: 75vw;
            max-width: none;
            flex-basis: 100%;
            @media (max-width: 64rem) {
                width: 100%;
            }
        }
    }
</style>
