<div class="panel right transition-fade">
    <div class="container">
        <slot />
    </div>
</div>
<style lang="scss">
    .panel.right {
        overflow-y: auto;
        background: var(--color);
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
        backdrop-filter: blur(var(--blur));
        @media (max-width: 64rem) {
            overflow-y: visible;
            border-top-right-radius: var(--radius);
            border-bottom-left-radius: 0;
        }
        &:not(:has(.container *)) {
            flex: 0 !important;
        }
        .container {
            // NEEDED FOR ANIM
            width: 75vw;
            max-width: none;
            display: flex;
            flex-direction: column;
            @media (max-width: 64rem) {
                width: 100%;
            }
        }
    }
</style>
