---
const { isHome } = Astro.props;
---

<div class="panel right transition-right" class:list={{ "is-home": isHome }}>
    <div class="container">
        <slot />
    </div>
</div>
<style lang="scss">
    .panel {
        overflow-y: auto;
        @media (max-width: 64rem) {
            overflow-y: visible;
        }
        &.is-home {
            flex: 0;
        }
        .container {
            // NEEDED FOR ANIM
            width: 75vw;
            max-width: none;
            display: flex;
            flex-direction: column;
            background: var(--bg3);
            flex-basis: 100%;
            @media (max-width: 64rem) {
                width: 100%;
            }
        }
    }
</style>
