<div class="panel right transition-right">
    <div class="container">
        <slot />
    </div>
</div>
<style lang="scss">
    .panel {
        overflow-y: auto;
        @media (max-width: 64rem) {
            overflow-y: visible;
        }
        &:not(:has(.container *)) {
            flex: 0 !important;
        }
        .container {
            // NEEDED FOR ANIM
            width: 75vw;
            max-width: none;
            display: flex;
            flex-direction: column;
            background: var(--bg3);
            flex-basis: 100%;
            @media (max-width: 64rem) {
                width: 100%;
            }
        }
    }
</style>
