---
import "@styles/global.scss";
import Bg from "@components/Bg.astro";
import RightPanel from "@components/RightPanel.astro";
import LeftPanel from "@components/LeftPanel.astro";
import Head from "@components/Head.astro";
import { getImage } from "astro:assets";
import bgImage from "@assets/bg.png";
import { ViewTransitions } from "astro:transitions";

const bg = await getImage({ src: bgImage });
const { isHome, title } = Astro.props;
---

<script src="@scripts/main.js"></script>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, user-scalable=no"
		/>
		<title>{`Michele Volonghi ${title ? " — " + title : ""}`}</title>
		<Head />
		<ViewTransitions />
	</head>
	<body transition:animate="none">
		<Bg />
		<main>
			<LeftPanel {isHome} />
			<RightPanel {isHome}>
				<slot />
			</RightPanel>
		</main>
		<style lang="scss" define:vars={{ bg: `url('${bg.src}')` }} is:global>
			html {
				background-color: var(--bg3);
				background-image: var(--bg);
				background-size: 100px;
			}
		</style>
	</body>
</html>
