---
import "@styles/global.scss";
import Bg from "@components/Bg.astro";
import RightPanel from "@components/RightPanel.astro";
import LeftPanel from "@components/LeftPanel.astro";
import Head from "@components/Head.astro";
const { isHome } = Astro.props;
---

<script src="@scripts/main.js"></script>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, user-scalable=no"
		/>
		<title>Michele Volonghi</title>
		<Head />
	</head>
	<body>
		<Bg />
		<main>
			<LeftPanel />
			<RightPanel {isHome}>
				<slot />
			</RightPanel>
		</main>
	</body>
</html>
