@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "greed-regular";
  src: url("/greed-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  background: black;
}